{{ form_start(form) }}
    {{ form_widget(form) }}
        <button class="btn btn-outline-primary">{{ button_label|default('Save') }}</button>
        <button class="btn btn-outline-warning"><a href="{{ path('usuarios_index') }}">Lista</a></button>
{{ form_end(form) }}
